src/*.exe
src/plusevcoin
src/plusevcoind
src/test_plusevcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch

# Compilation and Qt preprocessor part
*.qm
Makefile
plusevcoin-qt
Plusevcoin-Qt.app

# Mac specific
.DS_Store
build

